#
# ESP32S3-Specific
#
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_MODEM_USB_OUT_EP_ADDR=0x02
CONFIG_MODEM_USB_IN_EP_ADDR=0x82

CONFIG_USB_TASK_CORE_ID=1

TEST_GU=1