# common wifi config
CONFIG_ESP32_WIFI_AMPDU_RX_ENABLED=n

# Override some defaults to enable PPP
CONFIG_LWIP_IPV6=n
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_PAP_SUPPORT=y
CONFIG_LWIP_PPP_NOTIFY_PHASE_SUPPORT=y
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=4096
CONFIG_LWIP_IP4_REASSEMBLY=y
# Disable legacy API
CONFIG_MODEM_LEGACY_API=n

# Enable NAPT
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y
CONFIG_LWIP_IRAM_OPTIMIZATION=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y

CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT=n

CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_RUN_TIME_STATS_USING_ESP_TIMER=y

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y

#
# USB Host CDC options
#
CONFIG_CDC_SEND_DTE_ACTIVE=n
CONFIG_CDC_BULK_OUT_URB_BUFFER_SIZE=1536
CONFIG_CDC_BULK_IN_URB_BUFFER_SIZE=1536
CONFIG_CDC_BULK_IN_URB_NUM=4
CONFIG_CDC_BULK_OUT_URB_NUM=4

# For debug
#CONFIG_MODEM_TARGET_EC600N_CNLC_N06=y
#CONFIG_LWIP_DEBUG=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
#CONFIG_LOG_DEFAULT_LEVEL_NONE=y
#CONFIG_LWIP_PPP_DEBUG_ON=y
#CONFIG_EXAMPLE_WIFI_SSID="esp_4g_test"
#CONFIG_EXAMPLE_WIFI_PASSWORD="87654321"
#CONFIG_MODEM_TARGET_USER=y
#CONFIG_CDC_USE_TRACE_FACILITY=y
CONFIG_DUMP_SYSTEM_STATUS=y
#CONFIG_EXAMPLE_MANUAL_DNS=y
#CONFIG_EXAMPLE_MANUAL_DNS_ADDR="114.114.114.114"


#
# Modbus configuration
#
CONFIG_MB_UART_PORT_NUM=1
CONFIG_MB_UART_BAUD_RATE=9600
CONFIG_MB_COMM_MODE_RTU=y
CONFIG_MB_UART_TXD=13
CONFIG_MB_UART_RXD=47
CONFIG_MB_UART_RTS=14
CONFIG_FMB_TIMER_PORT_ENABLED=y
CONFIG_FMB_TIMER_GROUP=0
CONFIG_FMB_TIMER_INDEX=0
CONFIG_FMB_TIMER_ISR_IN_IRAM=y
CONFIG_FMB_MASTER_DELAY_MS_CONVERT=200
CONFIG_FMB_MASTER_TIMEOUT_MS_RESPOND=150

#
# MQTT Configuration
#
CONFIG_BROKER_URI="mqtts://mqtts.pool.mytech-connect.io:28883"
CONFIG_BROKER_CERTIFICATE_OVERRIDE=""
CONFIG_MQTT_USE_CUSTOM_CONFIG=y
CONFIG_MQTT_TCP_DEFAULT_PORT=1883
CONFIG_MQTT_SSL_DEFAULT_PORT=8883
CONFIG_MQTT_WS_DEFAULT_PORT=80
CONFIG_MQTT_WSS_DEFAULT_PORT=443
CONFIG_MQTT_BUFFER_SIZE=16384
CONFIG_MQTT_TASK_STACK_SIZE=16384

CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=y

CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_EXAMPLE_CONNECT_WIFI=n
CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET=y
CONFIG_EXAMPLE_ETH_PHY_IP101=y
CONFIG_EXAMPLE_ETH_MDC_GPIO=23
CONFIG_EXAMPLE_ETH_MDIO_GPIO=18
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO=5
CONFIG_EXAMPLE_ETH_PHY_ADDR=1
CONFIG_EXAMPLE_CONNECT_IPV6=y

CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y
CONFIG_ESP_TLS_USE_DS_PERIPHERAL=n
CONFIG_ESP_TLS_CLIENT_SESSION_TICKETS=y

CONFIG_MBEDTLS_ASYMMETRIC_CONTENT_LEN=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=16384
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=16384
CONFIG_MBEDTLS_DEBUG=n
CONFIG_MBEDTLS_ECJPAKE_C=y
CONFIG_MBEDTLS_POLY1305_C=y
CONFIG_MBEDTLS_CHACHA20_C=y
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_MBEDTLS_HARDWARE_MPI=n

#CONFIG_MAIN_TASK_STACK_SIZE=32768#16384
CONFIG_ESP_MAIN_TASK_STACK_SIZE=32768

CONFIG_DUMP_SYSTEM_STATUS=n

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="ingeli_partitions_two_ota.csv"
CONFIG_EXAMPLE_FIRMWARE_UPGRADE_URL="http://192.168.1.1:8080"
OTA_ALLOW_HTTP=y

CONFIG_EXAMPLE_MODEM_PPP_APN="iot.1nce.net"

CONFIG_MODEM_USB_OUT_EP_ADDR=0x02
CONFIG_MODEM_USB_IN_EP_ADDR=0x82